.header {
  &__hankeLink {
    background: var(--color-coat-of-arms) !important;
    padding: var(--spacing-2-xs) var(--spacing-s) !important;
    margin: var(--spacing-s) var(--spacing-s) !important;
    color: var(--color-white) !important;
    text-decoration: none;
  }

  div[class^='MenuButton-module_menuButton'] {
    margin-top: 20px;
  }

  div[class^='NavigationActions-module_navigationActions'] a {
    font-weight: 500;
  }
}
