.header {
  &--active::after {
    height: 0.313rem;
    background-color: var(--color-summer);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__hankeLink {
    background: var(--color-coat-of-arms) !important;
    padding: var(--spacing-2-xs) var(--spacing-s) !important;
    margin: var(--spacing-s) var(--spacing-s) !important;
    color: var(--color-white) !important;
    text-decoration: none !important;
  }

  div[class^='MenuButton-module_menuButton'] {
    margin-top: 20px;
  }

  div[class^='NavigationActions-module_navigationActions'] a {
    font-weight: 500;
  }
}
