@import 'src/assets/styles/layout';

.navmain {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-layout-m);
  align-self: stretch;
  padding-top: var(--spacing-layout-m);
  padding-bottom: var(--spacing-layout-m);
  flex-direction: row;

  @include respond-below(m) {
    flex-direction: column;
  }
}

.main {
  max-width: 798px;
  padding: var(--spacing-2-xs);
}

.sidenavcontainer {
  max-width: 340px;
}
