.nav {
  &__listWpr {
    display: flex;
    list-style-type: none;
  }

  &__link {
    display: block;
    margin-right: var(--spacing-m);
    color: var(--color-black);
    text-decoration: none;
  }

  &__active {
    border-bottom: var(--color-summer) solid 3px;
  }
}
