@import 'src/assets/styles/layout';

.stateNotification {
  margin-bottom: var(--spacing-s);
  margin-top: var(--spacing-s);

  @include respond-above(m) {
    padding-right: var(--spacing-l);
  }
}

.tabList {
  margin-bottom: var(--spacing-m);
}

.hankeAreaContainer {
  margin-bottom: var(--spacing-m);

  .areaIndexes {
    margin-bottom: var(--spacing-s);
  }
}

.haittojenhallintasuunnitelmaContainer {
  margin-bottom: var(--spacing-m);

  .odd {
    padding: var(--spacing-s);
    margin-bottom: 0;
  }

  .even {
    padding: var(--spacing-s);
    margin-bottom: 0;
    background-color: var(--color-black-10);
  }
}

.compressedAreaIndex {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}
