.datePicker {
  position: relative;

  .topWpr {
    display: flex;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 0.9rem;
    right: 0.8rem;
    background: var(--color-white);
    pointer-events: none;
  }

  .react-datepicker__input-container {
    --border-radius: 2px;
    --border-width: 2px;
    --outline-width: 3px;
    --input-height: 56px;
    --textarea-height: 149px;
    --icon-size: var(--spacing-m);
    --icon-color-invalid: var(--color-error);
    --input-background-default: var(--color-white);
    --input-border-color-default: var(--color-black-50);
    --input-border-color-invalid: var(--color-error);
    --input-color-default: var(--color-black-90);
    --input-color-disabled: var(--color-black-40);
    --placeholder-color: var(--color-black-60);
    --focus-outline-color: var(--color-coat-of-arms);

    input {
      background-color: var(--input-background-default);
      border: var(--border-width) solid var(--input-border-color-default);
      border-radius: var(--border-radius);
      box-sizing: border-box;
      color: var(--input-color-default);
      font-size: 1.125em;
      height: var(--input-height);
      line-height: normal;
      padding: 0 var(--spacing-s);
      width: 100%;

      --input-border-color-hover: var(--color-black-90);
    }

    .invalid {
      border-color: var(--input-border-color-invalid);
    }
  }

  label {
    display: block;
    font-size: var(--fontsize-body-m);
    font-weight: 500;
    margin-bottom: var(--spacing-3-xs);
  }
}
