TA_ALLU_PW=<fill in>
TA_SUOMIFI_LOGIN=<fill in>

TA_HAITATON_TESTING="http://localhost:3001/fi"
TA_HAIT_TEST_HANKESALKKU="http://localhost:3001/fi/hankesalkku/"
TA_ALLU_TRIGGER="http://localhost:3001/api/testdata/trigger-allu"

TA_HAITATON_DEV=<fill in>
TA_HAITATON_STAGING=<fill in>
TA_HAITATON_PROD="#" # Production environment not used in E2E tests

TA_ALLU_DEV="#"
TA_ALLU_TESTING=<fill in>
TA_ALLU_STAGING="#"
TA_ALLU_PROD="#"

TA_ASIAKAS_USERNAME="Philip Auvinen"
TA_ASIAKAS_EMAIL="haitaton.e2e.philip.auvinen@test.invalid"
TA_ASIAKAS_PHONENUMBER="0000000000"
TA_ASIAKAS_YTUNNUS="1715130-7"
TA_ASIAKAS_OS1="Urho Kekkosen katu 7"
TA_ASIAKAS_OS1_POSTNO="00100"
TA_ASIAKAS_OS2="Työpajankatu 8"
TA_ASIAKAS_OS2_POSTNO="00580"
TA_ASIAKAS_OS3="Fredikanterassi 1"
TA_ASIAKAS_OS3_POSTNO="00520"

TA_VASTAAVA_USERNAME="HeKaVastaava Oy"
TA_VASTAAVA_EMAIL="haitaton.e2e.heka.vastaava@test.invalid"
TA_VASTAAVA_PHONENUMBER="0000000000"
TA_VASTAAVA_YTUNNUS="0554218-3"

TA_SUORITTAJA_USERNAME="HeKaSuorittaja Oy"
TA_SUORITTAJA_EMAIL="haitaton.e2e.heka.suorittaja@test.invalid"
TA_SUORITTAJA_PHONENUMBER="0000000000"
TA_SUORITTAJA_YTUNNUS="5855136-6"

TA_RAKENNUTTAJA_USERNAME="HeKaRakennuttaja Oy"
TA_RAKENNUTTAJA_EMAIL="haitaton.e2e.heka.rakennuttaja@test.invalid"
TA_RAKENNUTTAJA_PHONENUMBER="0000000000"
TA_RAKENNUTTAJA_YTUNNUS="2040660-6"

TA_ASIANHOITAJA_USERNAME="HeKaAsianhoitaja Oy"
TA_ASIANHOITAJA_EMAIL="haitaton.e2e.hake.asianhoitaja@test.invalid"
TA_ASIANHOITAJA_PHONENUMBER="0000000000"
TA_ASIANHOITAJA_YTUNNUS="0482814-7"

TAAPIAUTHLOGIN=<fill in>
TAAPIWITHCONTACTS=<fill in>
