.gridContainer {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

.gridItem {
  grid-column-start: 1;
  grid-column-end: 7;
  margin-bottom: 0.7rem;
}

.nimi {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 0.7rem;
  margin-right: 2rem;
}

.hakemusTunnus {
  grid-column-start: 5;
  grid-column-end: 7;
}

.dateInputLeft {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

.dateInputRight {
  grid-column-start: 4;
  grid-column-end: 7;
  margin-left: 1rem;
}
