.gridContainer {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.fullRow {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 0.7rem;
}

.gridItem50 {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
}

.gridItem150 {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom: 0.7rem;
}

.gridItem125 {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 0.7rem;
  margin-right: 0.5rem;
}

.gridItem225 {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
}
