.formWrapper {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-xl) 0;

  .pagination {
    background-color: white;
    padding: var(--spacing-l);
  }

  .actions {
    background-color: white;
    padding: var(--spacing-l);
  }

  .index {
    background-color: white;
  }

  .content {
    background-color: white;
    padding: var(--spacing-l);
  }
}

.navButtonContainer {
  min-width: 18rem;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-columns: 15% 10% 20% 10% 20% 10% 15%;
}

.navPrev {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navNext {
  grid-column-start: 7;
  grid-column-end: 8;
}

.navSave {
  grid-column-start: 3;
  grid-column-end: 4;
}

.navPublish {
  grid-column-start: 5;
  grid-column-end: 6;
}
