.chakra-modal__content-container {
  z-index: 11;

  section {
    opacity: 1;
    margin: var(--spacing-l) 20%;
    padding: var(--spacing-m);
  }
}

.chakra-modal__overlay {
  background: black;
  opacity: 0.6 !important;
  z-index: 10;
}

.chakra-modal {
  &__body {
    padding-bottom: var(--spacing-m) !important;
  }

  &__footer {
    justify-content: start !important;

    button {
      margin-right: var(--spacing-s);
    }
  }
}
