.formWrapper {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-xl) 0;
  gap: var(--spacing-xl);

  .pagination {
    background-color: white;
    padding: var(--spacing-l);
  }

  .index {
    background-color: white;
  }

  .content {
    background-color: white;
    padding: var(--spacing-l);
  }
}
