.formContainer {
  background-color: white;
  margin: var(--spacing-2-xl) 0;
  padding: var(--spacing-l);

  .stepper {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);

    * {
      box-sizing: content-box;
    }
  }
}
