.lang {
  position: relative;
  display: flex;

  button {
    border: 0;
    background: none;
    text-align: right;
    display: flex;
  }

  li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--spacing-xs);
  }

  i {
    width: 20px;
  }

  &__listWpr {
    padding-top: var(--spacing-xs);
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 10;
    list-style-type: none;
    background: var(--color-white);
    border: 1px solid var(--color-black-10);
  }
}
