@import 'src/assets/styles/layout.scss';

.informationViewContainer {
  background-color: var(--color-white);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  padding-top: var(--spacing-2-xl);
  padding-bottom: var(--spacing-xl);
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
}

.contentContainer {
  flex: 1 1 auto;

  @include respond-above(l) {
    display: grid;
    grid-template-columns: 67% 33%;
  }

  .mainContent {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    padding-right: var(--spacing-xs);
  }

  .sideBar {
    background-color: var(--color-black-5);
    padding: var(--spacing-m);
  }
}

.paddingLeft {
  padding-left: var(--spacing-m);

  @include respond-above(m) {
    padding-left: 100px;
  }

  @include respond-above(xl) {
    padding-left: 180px;
  }
}
