.uploadContainer {
  min-height: 250px;
  margin-bottom: var(--spacing-s);

  // Hide the info text that no files are selected
  [class*='info-text'] {
    display: none !important;
  }
}

.loadingContainer {
  margin-left: var(--spacing-m);
  margin-right: var(--spacing-m);
  align-items: center;
  column-gap: var(--spacing-2-xs);
  row-gap: var(--spacing-2-xs);

  .loadingSpinner {
    margin-right: var(--spacing-s);
  }

  .loadingText {
    font-weight: 500;
  }
}
