.mapContainer {
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.mapToolbox {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.hiddenTestDiv {
  display: none;
}
