.borders {
  border: 1px solid black;
}

.mapContainer {
  position: relative;
  flex-grow: 1;
  margin-bottom: var(--spacing-xl);
  min-height: 640px;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.hiddenTestDiv {
  display: none;
}

.dateRangeControl {
  position: absolute;
  top: 4rem;
  right: 1rem;
}
