.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    padding-bottom: 1rem;
    background: var(--color-summer);

    .logo {
      display: flex;

      div {
        padding-right: 1.5rem;
        padding-bottom: 2rem;
      }
    }

    .linkContainer {
      display: flex;

      div {
        padding-right: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 500;
      }
    }
  }

  p {
    margin-bottom: 1rem;
  }
}
