.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &--wpr {
    position: relative;
  }

  path {
    fill: var(--color-summer);
  }

  svg {
    width: 100%;
  }

  p {
    position: absolute;
    bottom: var(--spacing-m);
    left: var(--spacing-s);
    padding: 0 0 0 var(--spacing-s);
    margin: 0;
  }
}
