@import '~hds-core/lib/base.css';
@import '~hds-core/lib/icons/icon.css';
@import '~hds-core/lib/icons/all.min.css';

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('../../../assets/fonts/HelsinkiGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 500;
  src: url('../../../assets/fonts/HelsinkiGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: bold;
  src: url('../../../assets/fonts/HelsinkiGrotesk-Bold.otf') format('opentype');
}

body {
  font-family: 'HelsinkiGrotesk', serif;
  background: var(--color-black-5);
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
}
