@import 'layout.scss';

.two-col {
  display: flex;

  div {
    flex-grow: 1;
  }

  @include respond-below(s) {
    display: block;

    .mr-l {
      margin-right: 0;
    }
  }
}

.ytk-info-container {
  display: flex;
}

.mr-l {
  margin-right: var(--spacing-l);
}

.mr-xs {
  margin-right: var(--spacing-xs);
}

.mb-m {
  margin-bottom: var(--spacing-m);
}

.mb-l {
  margin-bottom: var(--spacing-l);
}

.font-m {
  font-size: var(--fontsize-heading-m);
}
