.controlLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}

.controlPanel {
  background: white;
  color: black;
  border: 1px solid black;
  pointer-events: all;
  padding: var(--spacing-3-xs);
}

.controlMenu {
  background: white;
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-3-xs);

  &__divider {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
  }
}

.tileLayerControl {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);

  &__button {
    padding: var(--spacing-3-xs);
  }
}

.drawControl {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: var(--spacing-s);
  bottom: var(--spacing-s);

  &__button {
    border: 0;

    &:hover {
      background: gray;
    }

    &--active {
      color: red;
    }
  }

  &__checkbox {
    padding-left: var(--spacing-xs);
    padding-bottom: var(--spacing-2-xs);
  }
}
