.dateRangeControl {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
}

.datePicker {
  padding: 5px;
}

.dateHyphen {
  display: flex;
  align-items: center;
  padding-top: 2em;
  justify-content: center;
}
