.ol-full-screen button {
  background-color: var(--color-black-80);
  color: var(--color-white);
  padding: 14px;
  height: 50px;
  width: 50px;
  border-radius: 0;

  &:hover,
  &:focus {
    color: var(--color-white);
  }
}
