.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  bottom: 200px;
  right: 8px;
  left: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
  border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  border: none;
  width: 252px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid black;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}
