@import 'src/assets/styles/layout';

.container {
  background-color: var(--color-white);
  height: 100%;
}

.header {
  background-color: var(--color-summer-light);
  padding-top: var(--spacing-2-xl);
  padding-bottom: var(--spacing-xl);
}

.mainContent {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.breadcrumb > nav {
  margin: 0 !important;
}

.searchInput {
  max-width: 328px;
  margin-bottom: var(--spacing-m);
}

.table > div {
  display: none;

  @include respond-above(m) {
    display: block;
  }
}

.userCards {
  @include respond-above(m) {
    display: none;
  }
}

.userIcon {
  align-self: center;
  margin-right: var(--spacing-xs);
}

.invitationSendButtonContainer {
  min-width: auto;

  @include respond-above(xl) {
    min-width: 300px;
  }
}

.invitationSendButton {
  vertical-align: middle;
}

.pagination {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-s);

  * {
    box-sizing: content-box;
  }
}
