.windowContainer {
  border: 1px solid red;
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.hanke {
  &__title {
    background: blue;
    border-bottom: 2px solid black;
    color: white;
  }

  &__content {
    padding: 5px;
  }
}
