.mapContainer {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: var(--spacing-s);

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.areaInfoContainer {
  padding: var(--spacing-m);
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-s);
}
