@import 'layout.scss';

.hankeForm {
  padding: var(--spacing-s) var(--spacing-l) var(--spacing-3-xl) var(--spacing-l);

  &__formWpr {
    display: flex;
  }

  &__formWprRight {
    background: var(--color-white);
    flex-grow: 1;
    padding: var(--spacing-layout-s);
    margin-left: var(--spacing-layout-s);

    h2 {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__indicator {
    list-style-type: none;
    flex-grow: 0;
    padding: var(--spacing-layout-s);
    margin: 0;
    background: var(--color-white);
    display: block;

    li {
      padding-bottom: var(--spacing-3-xs);
      margin: 0;
      display: block;
    }

    .line {
      background: #808080;
      height: 27px;
      width: 2px;
      margin-left: 10px;
      margin-bottom: 2px;
      display: block;
    }

    &--color .line {
      background: var(--color-coat-of-arms-blue);
    }

    li:last-child .line {
      display: none;
    }

    &--color .circle circle {
      stroke: var(--color-coat-of-arms-blue);
    }

    &__contentWpr {
      position: relative;
      top: -6px;
      left: var(--spacing-2-xs);
      display: inline-block;
    }

    &--visuallyHidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .formWpr {
    padding-bottom: var(--spacing-m);
  }

  .calendaraWpr {
    display: flex;
    padding-bottom: var(--spacing-m);

    .left {
      padding-right: var(--spacing-xl);
      width: 30%;
    }

    .right {
      padding-right: var(--spacing-xl);
      width: 30%;
    }

    @include respond-below(s) {
      label {
        height: 40px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .formWprColumns {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;

    @include respond-below(s) {
      label {
        height: 40px;
        display: flex;
        align-items: flex-end;
      }
    }

    .left {
      padding-right: var(--spacing-m);
    }

    padding-bottom: var(--spacing-m);
  }

  .error-text {
    color: var(--color-brick);
    padding-top: 10px;
    display: block;
  }

  .btnWpr {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: var(--spacing-m);

    &--previous,
    &--next {
      background: none;
      display: flex;
      color: var(--color-coat-of-arms-blue);
      padding: 0;
      margin: 0;

      svg {
        height: 30px;
        width: 30px;
        position: relative;
        top: -7px;

        polygon {
          fill: var(--color-coat-of-arms-blue);
        }
      }
    }
  }
}
