@import 'layout.scss';

.hankeForm {
  padding: 0 var(--spacing-l) var(--spacing-3-xl) var(--spacing-l);

  &__formWpr {
    display: flex;
  }

  .closeFormWpr {
    right: var(--spacing-layout-s);
    top: var(--spacing-layout-s);
    position: absolute;
  }

  h3.labelHeader {
    display: flex;

    div[class^='Tooltip-module_wrapper'] {
      display: inline-block;

      button[class^='Tooltip-module_buttonTooltip'] {
        position: relative;
        top: -3px;
        left: 3px;
      }
    }
  }

  &__formWprRight {
    background: var(--color-white);
    flex-grow: 1;
    padding: var(--spacing-layout-s);
    margin-left: var(--spacing-layout-s);
    position: relative;

    h2 {
      margin-top: -0.5rem;
      padding-top: 0;
      font-size: var(--fontsize-heading-m);
    }
  }

  &__indicator {
    list-style-type: none;
    flex-grow: 0;
    padding: var(--spacing-layout-s);
    margin: 0;
    background: var(--color-white);
    display: block;

    li {
      padding-bottom: var(--spacing-3-xs);
      margin: 0;
      display: block;

      svg {
        display: inline-block;
      }
    }

    .line {
      background: #808080;
      height: 27px;
      width: 2px;
      margin-left: 10px;
      margin-bottom: 2px;
      display: block;
    }

    &--color .line {
      background: var(--color-coat-of-arms);
    }

    li:last-child .line {
      display: none;
    }

    &--color .circle circle {
      stroke: var(--color-coat-of-arms);
    }

    &__contentWpr {
      position: relative;
      top: 1px;
      left: var(--spacing-2-xs);
      display: inline-block;
    }

    &--visuallyHidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .formWpr {
    margin-bottom: var(--spacing-m);
  }

  .calendaraWpr {
    display: flex;
    padding-bottom: var(--spacing-m);

    .left {
      padding-right: var(--spacing-xl);
      width: 250px;
    }

    .right {
      padding-right: var(--spacing-xl);
      width: 250px;
    }

    @include respond-below(s) {
      label {
        height: 40px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .formColumns {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;
    padding-bottom: var(--spacing-m);
  }

  .formItem {
    padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;

    div {
      height: auto;
    }
  }

  .error-text {
    color: var(--color-brick);
    padding-top: 10px;
    display: block;
  }

  .btnWpr {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: var(--spacing-m);
  }
}
