@import 'layout.scss';

.hankeForm {
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-3-xl) var(--spacing-l);

  .formWpr {
    padding-bottom: var(--spacing-m);
  }

  .dataWpr {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;

    .left {
      padding-right: var(--spacing-m);
    }

    padding-bottom: var(--spacing-m);
  }

  .calendaraWpr {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;

    .left {
      padding-right: var(--spacing-m);
    }

    padding-bottom: var(--spacing-m);

    @include respond-below(s) {
      label {
        height: 40px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .formWprColumns {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: 1fr 1fr;

    @include respond-below(s) {
      label {
        height: 40px;
        display: flex;
        align-items: flex-end;
      }
    }

    .left {
      padding-right: var(--spacing-m);
    }

    padding-bottom: var(--spacing-m);
  }

  .error-text {
    color: var(--color-brick);
    padding-top: 10px;
    display: block;
  }
}
