.mapGuide {
  background: var(--color-white);
  color: black;
  pointer-events: all;
  padding: var(--spacing-2-xs);
  position: absolute;
  left: 1rem;
  top: 1rem;
  box-shadow: 5px 5px 10px var(--color-black-20);
  font-size: 14px;

  &__colorBox {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
}
