@import 'src/assets/styles/layout';

.heroContainer {
  position: relative;
  z-index: 1;

  .hero {
    background: var(--color-summer);
    padding-top: var(--spacing-3-xl);
    padding-bottom: var(--spacing-3-xl);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);

    @include respond-below(m) {
      padding-top: var(--spacing-l);
      padding-bottom: var(--spacing-l);
    }

    @include respond-below(s) {
      padding-top: var(--spacing-s);
      padding-bottom: var(--spacing-s);
    }

    h1,
    h2 {
      text-align: center;
    }
  }

  .koros {
    fill: var(--color-summer);
    position: absolute;
    bottom: -15px;
    z-index: -1;
  }
}

.container {
  max-width: var(--breakpoint-xl);
  margin-top: var(--spacing-2-xl);
  margin-bottom: var(--spacing-2-xl);

  .feedbackInfo {
    padding-bottom: 2rem;
  }

  .linkboxContainer {
    > div > div {
      min-height: 230px;
    }
  }
}

.bgWhite {
  height: 100%;
  background-color: var(--color-white);
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-l);
  flex-wrap: wrap;

  @include respond-above(s) {
    margin-right: -100px;
    flex-wrap: nowrap;
  }

  .loginImage {
    object-fit: contain;

    @include respond-above(s) {
      max-width: 450px;
    }

    @include respond-above(m) {
      max-width: 550px;
    }

    @include respond-above(xl) {
      max-width: 768px;
    }
  }

  .loginContent {
    padding: var(--spacing-m);
    background-color: var(--color-suomenlinna-medium-light);
    align-self: center;
    max-width: 465px;
    position: relative;
    top: -50px;

    @include respond-above(s) {
      top: 0;
      left: -100px;
    }
  }
}
