@import 'src/assets/styles/layout';

.content {
  a {
    text-decoration: underline;
  }

  margin-bottom: var(--spacing-xl);

  h3 {
    color: var(--greyscale-black-90);
    font-size: var(--fontsize-heading-xs);
    font-weight: 700;
  }

  p {
    font-size: var(--fontsize-body-l);
  }

  ul {
    list-style-position: inside;
  }
}

.puffcontainer {
  margin-bottom: var(--spacing-m);
}

.puff {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m);
  color: var(--greyscale-black-90);
  font-size: var(--fontsize-heading-xs);

  h3 {
    color: var(--greyscale-black-90);
    font-size: var(--fontsize-heading-xs);
    font-weight: 700;
  }

  ul {
    list-style-position: inside;
  }
}

.additionalsummary {
  margin-bottom: var(--spacing-m);
  color: var(--greyscale-black-90);
  font-size: var(--fontsize-heading-xs);

  ul {
    list-style-position: inside;
  }
}
