.actions {
  background-color: white;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-s);
}
