.stepIndicator {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-l);

  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .line {
    background: #808080;
    height: 2px;
    width: 27px;
    margin-left: 10px;
    margin-bottom: 2px;
    display: block;
  }

  li:last-child .line {
    display: none;
  }

  .coloredLine {
    background: var(--color-coat-of-arms);
  }

  .label {
    position: relative;
    top: 1px;
    left: var(--spacing-2-xs);
    display: inline-block;
  }

  .labelActive {
    color: var(--color-coat-of-arms);
  }

  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
