.fieldset {
  max-width: var(--container-width-m);
  margin-bottom: var(--spacing-s);
  padding-top: var(--spacing-xs);
}

.infoNotification {
  margin-bottom: var(--spacing-m);
}

.formButtons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  margin-top: var(--spacing-m);
}
