.applicationStatusTag {
  display: flex;
  align-items: center;
}

.bgYellow {
  background-color: var(--color-alert);
}

.bgGreen {
  background-color: var(--color-success);
  color: var(--color-white);
}
