.bgYellow {
  background-color: var(--color-alert) !important;
}

.bgGreen {
  background-color: var(--color-success) !important;
  color: var(--color-white) !important;
}

.bgRed {
  background-color: var(--color-error) !important;
  color: var(--color-white) !important;
}
