@import 'src/assets/styles/layout';

.limitedWidthContainer {
  max-width: var(--breakpoint-xl);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-xs);

  @include respond-above(s) {
    padding: 0 var(--spacing-m);
  }
}
