@import 'src/assets/styles/layout';

.limitedWidthContainer {
  max-width: var(--breakpoint-xl);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-s) 0 var(--spacing-s);

  @include respond-above(s) {
    padding: 0 var(--spacing-l) 0 var(--spacing-l);
  }
}
