.indexContainer {
  display: flex;
  align-items: center;
  padding: 1.2rem 0.2rem 1.2rem 0.6rem;

  &__titlesContainer {
    flex-direction: column;
    flex-grow: 1;
  }

  &__number {
    width: 34px;
    text-align: center;
    flex-direction: column-reverse;
    margin-right: 8px;
  }
}

.indexInfo {
  padding: 1rem 0.2rem 1rem 0.6rem;
}

.indexes {
  .indexContainer:nth-child(odd) {
    background-color: var(--color-black-10);
  }
}
