.hankeSidebar {
  &__content {
    border-top: 1px solid var(--color-black-20);
    max-width: 320px;

    hr {
      margin-top: 36px;
      border-top: 1px solid var(--color-black-20);
    }
  }

  &__closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }

  &__editButton {
    margin-top: 24px;
    margin-left: 5px;
  }

  &__areaIndexes {
    margin-bottom: var(--spacing-s);
  }

  &__hankeLink {
    color: var(--color-bus);
    text-decoration: underline;
    display: block;
    width: fit-content;
    border: none;
  }
}
