.indexContainer {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.2rem 0.4rem 1rem;

  &__titlesContainer {
    flex-direction: column;
    flex-grow: 1;
  }

  &__number {
    width: 34px;
    text-align: center;
    flex-direction: column-reverse;
    margin-right: 8px;
  }
}

.indexTitle {
  padding: 0.4rem 0.2rem 0.4rem 1rem;
  display: flex;
}

.indexTooltip {
  padding-left: 1rem;
}

.indexes {
  .indexContainer:nth-child(odd) {
    background-color: var(--color-black-10);
  }
}
