.mapHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-xs);

  &__inner {
    display: flex;
    gap: var(--spacing-3-xs);
  }

  &__link {
    text-decoration: underline;
    margin-right: var(--spacing-3-xs);
  }
}
