.h1 {
  font-size: var(--fontsize-heading-xl);
  margin-bottom: var(--spacing-xl);
}

.h2 {
  font-size: var(--fontsize-heading-l);
  margin-bottom: var(--spacing-l);
}

h3 {
  font-size: var(--fontsize-heading-m);
  margin-bottom: var(--spacing-m);
}

h4 {
  font-size: var(--fontsize-heading-s);
  margin-bottom: var(--spacing-s);
}
