@import 'src/assets/styles/layout.scss';

.text {
  font-family: 'HelsinkiGrotesk', serif;

  &--h1 {
    font-size: var(--fontsize-heading-xl);

    @include respond-below(m) {
      font-size: var(--fontsize-heading-l);
    }
  }

  &--h2 {
    font-size: var(--fontsize-heading-l);

    @include respond-below(m) {
      font-size: var(--fontsize-heading-m);
    }
  }

  &--h3 {
    font-size: var(--fontsize-heading-m);

    @include respond-below(m) {
      font-size: var(--fontsize-heading-s);
    }
  }

  &--h4 {
    font-size: var(--fontsize-heading-s);
  }

  &--h5 {
    font-size: var(--fontsize-heading-xs);
  }

  &--h6 {
    font-size: var(--fontsize-heading-xxs);
  }

  &--body-xl {
    font-size: var(--fontsize-body-xl);
  }

  &--body-l {
    font-size: var(--fontsize-body-l);
  }

  &--body-m {
    font-size: var(--fontsize-body-m);
  }

  &--body-s {
    font-size: var(--fontsize-body-s);
  }

  &--bold {
    font-weight: 700;
  }

  &--medium {
    font-weight: 500;
  }

  &--light {
    font-weight: 500;
  }

  &--spacing-3-xs {
    margin-top: var(--spacing-3-xs);
    margin-bottom: var(--spacing-3-xs);
  }

  &--spacing-2-xs {
    margin-top: var(--spacing-2-xs);
    margin-bottom: var(--spacing-2-xs);
  }

  &--spacing-xs {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
  }

  &--spacing-s {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
  }

  &--spacing-m {
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
  }

  &--spacing-l {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
  }

  &--spacing-xl {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }

  &--spacing-top-3-xs {
    margin-top: var(--spacing-3-xs);
  }

  &--spacing-top-2-xs {
    margin-top: var(--spacing-2-xs);
  }

  &--spacing-top-xs {
    margin-top: var(--spacing-xs);
  }

  &--spacing-top-s {
    margin-top: var(--spacing-s);
  }

  &--spacing-top-m {
    margin-top: var(--spacing-m);
  }

  &--spacing-top-l {
    margin-top: var(--spacing-l);
  }

  &--spacing-top-xl {
    margin-top: var(--spacing-lx);
  }

  &--spacing-bottom-3-xs {
    margin-bottom: var(--spacing-3-xs);
  }

  &--spacing-bottom-2-xs {
    margin-bottom: var(--spacing-2-xs);
  }

  &--spacing-bottom-xs {
    margin-bottom: var(--spacing-xs);
  }

  &--spacing-bottom-s {
    margin-bottom: var(--spacing-s);
  }

  &--spacing-bottom-m {
    margin-bottom: var(--spacing-m);
  }

  &--spacing-bottom-l {
    margin-bottom: var(--spacing-l);
  }

  &--spacing-bottom-xl {
    margin-bottom: var(--spacing-xl);
  }
}
