.hankeHover {
  position: absolute;
  z-index: 1000;

  div {
    max-width: 21.875rem;
    min-width: 21.875rem;
    background-color: var(--color-coat-of-arms-light);
    padding: var(--spacing-xs);
    border: 1px solid black;

    p {
      font-size: var(--fontsize-body-s);
      line-height: var(--lineheight-xl);
      font-weight: normal;
    }
  }
}
